In [58]:
import pandas as pd

df_steam_game = pd.read_parquet(".\\data\\steam_game.parquet")
df_steam_game.head()

           genres release_date item_id                 name
88310      Action   2018-01-04  761140  Lost Summoner Kitty
88310      Casual   2018-01-04  761140  Lost Summoner Kitty
88310       Indie   2018-01-04  761140  Lost Summoner Kitty
88310  Simulation   2018-01-04  761140  Lost Summoner Kitty
88310    Strategy   2018-01-04  761140  Lost Summoner Kitty